aiohttp==3.9.3
aiohttp-socks==0.8.4
aiosignal==1.3.1
altgraph==0.17.4
aniso8601==9.0.1
annotated-types==0.6.0
anyio==4.3.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.7.0
bottle==0.12.25
Brotli==1.1.0
browser-cookie3==0.19.1
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
clr-loader==0.2.6
colorama==0.4.6
cryptography==42.0.5
cssselect2==0.7.0
curl-cffi==0.6.2
defusedxml==0.7.1
distro==1.9.0
Django==4.2.10
django-request==1.6.3
DonationAlertsAPI @ git+https://github.com/Fsoky/DonationAlertsAPI@b94a751e24c283d75883be096fcae894bb4842cb
duckduckgo-search==5.3.0
exceptiongroup==1.2.0
fastapi==0.110.1
flask==3.0.2
Flask-Login==0.6.3
Flask-RESTful==0.3.10
Flask-Reuploaded==1.4.0
Flask-Uploads==0.2.1
flask-wtf==1.2.1
frozenlist==1.4.1
g4f==0.2.8.2
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.6
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.3
loguru==0.7.2
lz4==4.3.3
MarkupSafe==2.1.5
multidict==6.0.5
nest-asyncio==1.6.0
openai==1.16.2
orjson==3.10.0
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
platformdirs==4.2.0
plyer==2.1.0
proxy-tools==0.1.0
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==2.6.4
pydantic-core==2.16.3
PyExecJS==1.5.1
pygame==2.5.2
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyqt5-tools==5.15.9.3.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.9.0
python-socketio==5.11.1
python-socks==2.4.4
pythonnet==3.0.3
pytz==2024.1
pywebview==5.0.5
pywin32-ctypes==0.2.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
requests==2.31.0
schedule==1.2.1
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.28
SQLAlchemy-serializer==1.4.1
sqlparse==0.4.4
starlette==0.37.2
tinycss2==1.2.1
tqdm==4.66.2
typing-extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
uvicorn==0.29.0
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
werkzeug==3.0.1
win32-setctime==1.1.0
wsproto==1.2.0
wtforms==3.1.2
yarl==1.9.4
zipp==3.17.0
