aiohttp
aiohttp-socks
aiosignal
altgraph
aniso8601
annotated-types
anyio
asgiref
async-timeout
attrs
beautifulsoup4
bidict
blinker
bottle
Brotli
browser-cookie3
cairocffi
CairoSVG
certifi
cffi
charset-normalizer
click
clr-loader
colorama
cssselect2
curl-cffi
defusedxml
distro
Django
django-request
Django-Verify-Email
duckduckgo-search
exceptiongroup
fastapi
flask
Flask-Login
Flask-RESTful
Flask-Reuploaded
Flask-Uploads
flask-wtf
frozenlist
g4f
greenlet
h11
httpcore
httpx
idna
importlib-metadata
itsdangerous
Jinja2
loguru
lz4
MarkupSafe
multidict
nest-asyncio
openai
orjson
packaging
pefile
pillow
platformdirs
plyer
proxy-tools
pycparser
pycryptodome
pycryptodomex
PyExecJS
pyinstaller
pyinstaller-hooks-contrib
python-dateutil
python-dotenv
python-engineio
python-socketio
python-socks
pythonnet
pytz
pywebview
pywin32-ctypes
requests
schedule
simple-websocket
six
sniffio
soupsieve
SQLAlchemy
SQLAlchemy-serializer
sqlparse
starlette
tinycss2
tqdm
typing-extensions
tzdata
urllib3
uvicorn
webencodings
websocket-client
websockets
werkzeug
win32-setctime
wsproto
wtforms
yarl
zipp
